/*
Estilos creados por Omar
Estilos personalizados sin bootstrap
*/

/*Labels*/
label{
	color: black;
}

/*Etiquetas*/
h1{
	font-size: 40px;
}

h2.hola{
	text-align: center;
}

/*Nav*/
nav{
	background: -webkit-linear-gradient(to right white,#7bb062, #7bb062); 
	background: linear-gradient(to right, white, #7bb062, #7bb062); 
}


nav a{
	text-align: left;
	font-size: 2em;
}


/*Body*/
body{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*<aside>*/


/*Divisiones*/
.a{
	background-color: #ffffff;
	padding:0;
	margin:0;
	text-align:center;
	color: #ffffff;
	overflow: hidden;
}

.heading{
	background-color: linear-gradient(to right, white, #b2ff8e, #7bb062); 
	color: black;
}

/*Otras*/
*{
  box-sizing: border-box;
}

.opaco {
	background-color: #7bb062;
	color: #ffffff;
	border: none;
}


/*Main Section*/

.fondo{
	background: linear-gradient(to top, #7bb062,#b5ff92,white);
}

.fondo-inverso{
	background: linear-gradient(to bottom, #7bb062,#b5ff92,white);
}

/* Inputs Form*/

.inputing{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.2em;
}


/*MENU*/
.menu{
  float: left;
  width: 15%;
  text-align: center;
  height: 100%;
  
}

.table-image td, th {
	vertical-align: middle;
}


.link{
  background-image: linear-gradient(to right,#7bb062,white);
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main{
  float: right;
  width: 85%;
  height: 100%;
  padding: 0 20px;
  text-align: center;
}


.table-index{
	font-size: 1.2em;
}

.restaurador{
	clear: both;
}

/*Features for mobiles*/
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

/*ul*/


.lista{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #7bb062;
}


/*li*/

.elementoLista{
	display: inline;
}

.elementoLista a{
	display: block;
	color: white;
	text-align: center;
	padding: 10px 14px;
	text-decoration: none;
	align-items:center;
}

.elementoLista a:hover{
	background-color: #111;
	font-size: 105%;
}

.elementoLista.resultados{
	color: red;
}

*/

/* BOTONES */
.buttonEnviar {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonEditar{
	display: inline-block;
	padding: 10px 20px;
	font-size: 19px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color:red;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.buttonEnviar:hover {background-color: #3e8e41}
.buttonEditar:hover {background-color: #b30000}

.buttonEnviar:active{background-color: #3e8e41;box-shadow: 0 5px #666;transform: translateY(4px);}
.buttonEditar:active{background-color: #b30000;box-shadow: 0 5px #666;transform: translateY(4px);}

.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 15px;
    background: #299be4;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn {
    color: #566787;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn:hover, .table-title .btn:focus {
    color: #566787;
    background: #f2f2f2;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}
table.table td a:hover {
    color: #2196F3;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.text-success {
    color: #10c469;
}
.text-info {
    color: #62c9e8;
}
.text-warning {
    color: #FFC107;
}
.text-danger {
    color: #ff5b5b;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

.hasImage:hover section {
    background-color: rgba(5, 5, 5, 0.4);
  }
  .hasImage:hover button:hover {
    background: rgba(5, 5, 5, 0.45);
  }
  
  #overlay p,
  i {
    opacity: 0;
  }
  
  #overlay.draggedover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  #overlay.draggedover p,
  #overlay.draggedover i {
    opacity: 1;
  }
  
  .group:hover .group-hover\:text-blue-800 {
    color: #2b6cb0;
  }