/*
Estilos creados por Omar
Estilos personalizados sin bootstrap
*/

/*Labels*/
label{
	color: black;
}

/*Etiquetas*/
h1{
	font-size: 40px;
}

h2.hola{
	text-align: center;
}

/*Nav*/
nav{
	background: -webkit-linear-gradient(to right, white,#7bb062, #7bb062); 
	background: linear-gradient(to right, white, #7bb062, #7bb062); 
}

nav a{
	text-align: left;
	font-size: 2em;
}


/*Body*/
body{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*<aside>*/


/*Divisiones*/
.a{
	background-color: #ffffff;
	padding:0;
	margin:0;
	text-align:center;
	color: #ffffff;
	overflow: hidden;
}

.footer{
	background-color:#e5e5e5;
	text-align:center;
	padding:10px;
	margin-top:7px;
}

/*Otras*/
*{
  box-sizing: border-box;
}

.opaco {
	background-color: #7bb062;
	color: #ffffff;
	border: none;
}


/*Main Section*/

.mainSection{
	background: linear-gradient(to top, #7bb062,rgb(209, 206, 206),white);
}

/* Inputs Form*/

.inputing{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.2em;
}


/*MENU*/
.menu{
  float: left;
  width: 15%;
  text-align: center;
  height: 100%;
  
}

.table-image td, th {
	vertical-align: middle;
}


.link{
  background-image: linear-gradient(to right,#7bb062,white);
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main{
  float: right;
  width: 85%;
  height: 100%;
  padding: 0 20px;
  text-align: center;
}


.table-index{
	font-size: 1.2em;
}

.restaurador{
	clear: both;
}

/*Features for mobiles*/
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

/*ul*/


.lista{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #7bb062;
}


/*li*/

.elementoLista{
	display: inline;
}

.elementoLista a{
	display: block;
	color: white;
	text-align: center;
	padding: 10px 14px;
	text-decoration: none;
	align-items:center;
}

.elementoLista a:hover{
	background-color: #111;
	font-size: 105%;
}

.elementoLista.resultados{
	color: red;
}

*/

/* BOTONES */
.buttonEnviar {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonEditar{
	display: inline-block;
	padding: 10px 20px;
	font-size: 19px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color:red;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.buttonEnviar:hover {background-color: #3e8e41}
.buttonEditar:hover {background-color: #b30000}

.buttonEnviar:active{background-color: #3e8e41;box-shadow: 0 5px #666;transform: translateY(4px);}
.buttonEditar:active{background-color: #b30000;box-shadow: 0 5px #666;transform: translateY(4px);}