/*
Estilos creados por Omar
Estilos personalizados sin bootstrap
*/

/*Labels*/
label{
	color: black;
}

/*Etiquetas*/
h1{
	font-size: 40px;
}

h2.hola{
	text-align: center;
}

/*Nav*/
nav{
	text-align: center;
	background-color: yellow;
	font-size: 15px;
}

/*Body*/
body{
	font-family:Verdana;
	color:#aaaaaa;
}

/*<aside>*/


/*Divisiones*/
.a{
	background-color: #ffffff;
	padding:0;
	margin:0;
	text-align:center;
	color: #ffffff;
	overflow: hidden;
}

.footer{
	background-color:#e5e5e5;
	text-align:center;
	padding:10px;
	margin-top:7px;
}

/*Otras*/
* {
  box-sizing: border-box;
}

.opaco {
	background-color: #7bb062;
	color: #ffffff;
	border: none;
}

/*MENU*/
.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.right {
  background-color: #ffffff;
  float: left;
  width: 20%;
  padding: 5px;
  margin-top: 7px;
  text-align: center;
  color: #7bb062;
}

/*Features for mobiles*/
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

/*ul*/
ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #7bb062;
}

/*li*/
li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 10px 14px;
	text-decoration: none;
	align-items:center;
}

li a:hover{
	background-color: #111;
	font-size: 105%;
}

li.resultados{
	color: red;
}

/* BOTONES */
.buttonEnviar {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonEditar{
	display: inline-block;
	padding: 10px 20px;
	font-size: 19px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color:red;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.buttonEnviar:hover {background-color: #3e8e41}
.buttonEditar:hover {background-color: #b30000}

.buttonEnviar:active{background-color: #3e8e41;box-shadow: 0 5px #666;transform: translateY(4px);}
.buttonEditar:active{background-color: #b30000;box-shadow: 0 5px #666;transform: translateY(4px);}